.button-menu {
    margin-left: 20%;
    margin-top: 5%;
  }
  
  
  .button-claim-rewards{
      margin-top: 5%;
      margin-left: 25%;
   
  }
  
  
  .button-exit{
      margin-top: 5%;
      margin-left: 38%;
      
  }

select {
    width: 150px;
    margin-left: 40%;
}
select:focus {
    min-width: 150px;
    width: auto;
}